
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-6">
        <div id="resumeUpload">
            @{Html.RenderAction("GetUpload", "Resume");}
        </div>
        <div id="resumeList">
            @{Html.RenderAction("GetResumes", "Resume");}
        </div>
    </div>
    <div class="col-sm-6">
        Search
    </div>
</div>
