
@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("Search", "Search", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "my.utility.block('#searchResults', true)",
    OnComplete = "my.utility.block('#searchResults', false)",
    UpdateTargetId = "searchResults"
}))
{
        <div>
            <div class="row">
                <div class="col-sm-7">
                    <h4>Step 1: Upload resume(s) and check which one to search on</h4>
                    <div id="resumeUpload">
                        @{Html.RenderAction("GetUpload", "Resume");}
                    </div>
                    <div id="resumeList">
                        @{Html.RenderAction("GetResumes", "Resume");}
                    </div>
                </div>
                <div class="col-sm-5">
                    <h4>Step 2: Enter search criteria</h4>
                    <div id="search">
                        @{Html.RenderAction("GetSearch", "Search");}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="inline-block">Step 3: Click</h4>
                    <input type="submit" class="btn btn-primary" value="Search" @*onclick="my.index.submit()"*@/>
                </div>
            </div>
        </div>
                            
}
<div id="searchResults">
    
</div>

<script type="text/javascript">
    my.index.init();
</script>
