@model ResumeSearch.Web.Models.UploadVM

<div class="row">
    <div class="col-sm-12">
        @Html.Partial("~/Views/Shared/NotificationPartial.cshtml", Model.Notification)
    </div>
</div>
<form>
    <div class="row">
        <span class="col-sm-6">
            @Html.TextBoxFor(m => m.Content, new { id = "uploadControl", type = "file", accept = ".txt,.doc,.docx" })
        </span>
        <span class="col-sm-6">
            @Html.TextAreaFor(m => m.Description, new { name = "Description", @class = "form-control", placeholder = "Description..." })
        </span>
    </div>
    <div class="row">
        <span class="col-sm-12">
            <button class="btn" id="uploadBtn">Start upload</button>
        </span>
    </div>
</form>



<script type="text/javascript">
    my.uploadPartial.init();
</script>


